In [1]:
# Import libraries and dependencies
import datetime, requests
import yfinance as yf
import pandas as pd
from pathlib import Path

In [2]:
aapl = pd.read_csv(
    Path("AAPL_quarterly_financials.csv")
)

In [3]:
aapl

,name,ttm,03/31/2023,12/31/2022,09/30/2022,06/30/2022,03/31/2022,12/31/2021,09/30/2021,06/30/2021,...,12/31/1987,09/30/1987,06/30/1987,03/31/1987,12/31/1986,09/30/1986,06/30/1986,03/31/1986,12/31/1985,09/30/1985
0,TotalRevenue,"385,095,000,000","94,836,000,000","117,154,000,000","90,146,000,000","82,959,000,000","97,278,000,000","123,945,000,000","83,360,000,000","81,434,000,000",...,"1,042,400,000","786,500,000","637,100,000","575,300,000","662,300,000","510,800,000","448,300,000","408,900,000","533,900,000","409,700,000"
1,\tOperatingRevenue,"385,095,000,000","94,836,000,000","117,154,000,000","90,146,000,000","82,959,000,000","97,278,000,000","123,945,000,000","83,360,000,000","81,434,000,000",...,"1,042,400,000","786,500,000","637,100,000","575,300,000","662,300,000","510,800,000","448,300,000","408,900,000","533,900,000","409,700,000"
2,CostOfRevenue,"218,807,000,000","52,860,000,000","66,822,000,000","52,051,000,000","47,074,000,000","54,719,000,000","69,702,000,000","48,186,000,000","46,179,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GrossProfit,"166,288,000,000","41,976,000,000","50,332,000,000","38,095,000,000","35,885,000,000","42,559,000,000","54,243,000,000","35,174,000,000","35,255,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OperatingExpense,"53,984,000,000","13,658,000,000","14,316,000,000","13,201,000,000","12,809,000,000","12,580,000,000","12,755,000,000","11,388,000,000","11,129,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,\tSellingGeneralAndAdministration,"25,260,000,000","6,201,000,000","6,607,000,000","6,440,000,000","6,012,000,000","6,193,000,000","6,449,000,000","5,616,000,000","5,412,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,\tResearchAndDevelopment,"28,724,000,000","7,457,000,000","7,709,000,000","6,761,000,000","6,797,000,000","6,387,000,000","6,306,000,000","5,772,000,000","5,717,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,\tDepreciationAmortizationDepletionIncomeState...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,\t\tDepreciationAndAmortizationInIncomeStatement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,\tOtherOperatingExpenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,OperatingIncome,"112,304,000,000","28,318,000,000","36,016,000,000","24,894,000,000","23,076,000,000","29,979,000,000","41,488,000,000","23,786,000,000","24,126,000,000",...,"1,042,400,000","-1,503,100,000","637,100,000","575,300,000","662,300,000","-1,117,600,000","448,300,000","408,900,000","533,900,000","-1,361,300,000"
11,NetNonOperatingInterestIncomeExpense,"-218,000,000","-12,000,000","-135,000,000","-74,000,000","3,000,000","9,000,000","-44,000,000","-13,000,000","54,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,\tInterestIncomeNonOperating,"3,261,000,000","918,000,000","868,000,000","753,000,000","722,000,000","700,000,000","650,000,000","659,000,000","719,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,\tInterestExpenseNonOperating,"3,479,000,000","930,000,000","1,003,000,000","827,000,000","719,000,000","691,000,000","694,000,000","672,000,000","665,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,\tTotalOtherFinanceCost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,OtherIncomeExpense,"-358,000,000","64,000,000","-393,000,000","-237,000,000","-10,000,000","160,000,000","-247,000,000","-538,000,000","243,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,\tGainOnSaleOfSecurity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,\tSpecialIncomeCharges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,\t\tRestructuringAndMergernAcquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,\t\tOtherSpecialCharges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,\tOtherNonOperatingIncomeExpenses,"-358,000,000","64,000,000","-393,000,000","-237,000,000","-10,000,000","160,000,000","-247,000,000","-538,000,000","243,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,PretaxIncome,"111,728,000,000","28,382,000,000","35,623,000,000","24,657,000,000","23,066,000,000","30,139,000,000","41,241,000,000","23,248,000,000","24,369,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,TaxProvision,"17,407,000,000","4,222,000,000","5,625,000,000","3,936,000,000","3,624,000,000","5,129,000,000","6,611,000,000","2,697,000,000","2,625,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NetIncomeCommonStockholders,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,\tNetIncome,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,\t\tNetIncomeIncludingNoncontrollingInterests,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,"121,400,000","71,700,000","53,500,000","33,900,000","58,500,000","32,900,000","32,300,000","31,800,000","56,900,000","22,300,000"
26,\t\t\tNetIncomeContinuousOperations,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,"121,400,000","71,700,000","53,500,000","33,900,000","58,500,000","32,900,000","32,300,000","31,800,000","56,900,000","22,300,000"
27,\t\t\tNetIncomeExtraordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,\t\t\tNetIncomeFromTaxLossCarryforward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,DilutedNIAvailtoComStockholders,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,BasicEPS,NaN,1.53,1.89,1.29,1.2,1.54,2.11,1.25,1.31,...,0.008,NaN,0.004,0.002,0.004,NaN,0.002,0.002,0.004,NaN
31,DilutedEPS,NaN,1.52,1.88,1.29,1.2,1.52,2.1,1.24,1.3,...,0.008,NaN,0.004,0.002,0.004,NaN,0.002,0.002,0.004,NaN
32,BasicAverageShares,NaN,"15,787,154,000","15,892,723,000","16,030,382,000","16,162,945,000","16,278,802,000","16,391,724,000","16,487,121,000","16,629,371,000",...,"14,063,280,000",NaN,"14,028,672,000","14,028,672,000","14,260,064,000",NaN,"14,260,064,000","14,033,600,000","13,837,824,000",NaN
33,DilutedAverageShares,NaN,"15,847,050,000","15,955,718,000","16,118,465,000","16,262,203,000","16,403,316,000","16,519,291,000","16,635,097,000","16,781,735,000",...,"14,063,280,000",NaN,"14,028,672,000","14,028,672,000","14,260,064,000",NaN,"14,260,064,000","14,033,600,000","13,837,824,000",NaN
34,TotalOperatingIncomeAsReported,"112,304,000,000","28,318,000,000","36,016,000,000","24,894,000,000","23,076,000,000","29,979,000,000","41,488,000,000","23,786,000,000","24,126,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,TotalExpenses,"272,791,000,000","66,518,000,000","81,138,000,000","65,252,000,000","59,883,000,000","67,299,000,000","82,457,000,000","59,574,000,000","57,308,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NetIncomeFromContinuingAndDiscontinuedOperation,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NormalizedIncome,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,InterestIncome,"3,261,000,000","918,000,000","868,000,000","753,000,000","722,000,000","700,000,000","650,000,000","659,000,000","719,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,InterestExpense,"3,479,000,000","930,000,000","1,003,000,000","827,000,000","719,000,000","691,000,000","694,000,000","672,000,000","665,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NetInterestIncome,"-218,000,000","-12,000,000","-135,000,000","-74,000,000","3,000,000","9,000,000","-44,000,000","-13,000,000","54,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,EBIT,"115,207,000,000","28,318,000,000","36,016,000,000","24,894,000,000","23,076,000,000","29,979,000,000","41,488,000,000","23,786,000,000","24,126,000,000",...,"1,042,400,000","-1,503,100,000","637,100,000","575,300,000","662,300,000","-1,117,600,000","448,300,000","408,900,000","533,900,000","-1,361,300,000"
42,EBITDA,"126,691,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,ReconciledCostOfRevenue,"218,807,000,000","52,860,000,000","66,822,000,000","52,051,000,000","47,074,000,000","54,719,000,000","69,702,000,000","48,186,000,000","46,179,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,ReconciledDepreciation,"11,484,000,000","2,898,000,000","2,916,000,000","2,865,000,000","2,805,000,000","2,737,000,000","2,697,000,000","2,989,000,000","2,832,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NetIncomeFromContinuingOperationNetMinorityInt...,"94,321,000,000","24,160,000,000","29,998,000,000","20,721,000,000","19,442,000,000","25,010,000,000","34,630,000,000","20,551,000,000","21,744,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,TotalUnusualItemsExcludingGoodwill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,TotalUnusualItems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NormalizedEBITDA,"126,691,000,000","31,216,000,000","38,932,000,000","27,759,000,000","25,881,000,000","32,716,000,000","44,185,000,000","26,775,000,000","26,958,000,000",...,"1,042,400,000","-1,503,100,000","637,100,000","575,300,000","662,300,000","-1,117,600,000","448,300,000","408,900,000","533,900,000","-1,361,300,000"
49,TaxRateForCalcs,0.156,0.149,0.158,0.16,0.157,0.17,0.16,0.116,0.108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,TaxEffectOfUnusualItems,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Grab ticker
ticker = yf.Ticker("aapl")

In [3]:
# Get summary of company
print(f"Market Cap : {ticker.info['marketCap']}\n")
print(f"Employees : {ticker.info['fullTimeEmployees']}\n")
print(f"Business Summary : \n{ticker.info['longBusinessSummary']}")

Market Cap : 3050896097280

Employees : 164000

Business Summary :
Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.

In [4]:
# Find dividends and stock splits
ticker.actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2022-05-06 00:00:00-04:00   0.230000           0.0
2022-08-05 00:00:00-04:00   0.230000           0.0
2022-11-04 00:00:00-04:00   0.230000           0.0
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0

[84 rows x 2 columns]

In [5]:
# Get income Statements
income_stmt = ticker.quarterly_income_stmt
income_stmt

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.148756,0.157904,0.15963,0.157114
Normalized EBITDA,31216000000.0,38932000000.0,27759000000.0,25881000000.0
Net Income From Continuing Operation Net Minority Interest,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Reconciled Depreciation,2898000000.0,2916000000.0,2865000000.0,2805000000.0
Reconciled Cost Of Revenue,52860000000.0,66822000000.0,52051000000.0,47074000000.0
EBIT,28318000000.0,36016000000.0,24894000000.0,23076000000.0
Net Interest Income,-12000000.0,-135000000.0,-74000000.0,3000000.0
Interest Expense,930000000.0,1003000000.0,827000000.0,719000000.0
Interest Income,918000000.0,868000000.0,753000000.0,722000000.0
Normalized Income,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Net Income From Continuing And Discontinued Operation,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Total Expenses,66518000000.0,81138000000.0,65252000000.0,59883000000.0
Total Operating Income As Reported,28318000000.0,36016000000.0,24894000000.0,23076000000.0
Diluted Average Shares,15847050000.0,15955718000.0,16118465000.0,16262203000.0
Basic Average Shares,15787154000.0,15892723000.0,16030382000.0,16162945000.0
Diluted EPS,1.52,1.88,1.29,1.2
Basic EPS,1.53,1.89,1.29,1.2
Diluted NI Availto Com Stockholders,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Net Income Common Stockholders,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Net Income,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Net Income Including Noncontrolling Interests,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Net Income Continuous Operations,24160000000.0,29998000000.0,20721000000.0,19442000000.0
Tax Provision,4222000000.0,5625000000.0,3936000000.0,3624000000.0
Pretax Income,28382000000.0,35623000000.0,24657000000.0,23066000000.0
Other Income Expense,64000000.0,-393000000.0,-237000000.0,-10000000.0
Other Non Operating Income Expenses,64000000.0,-393000000.0,-237000000.0,-10000000.0
Net Non Operating Interest Income Expense,-12000000.0,-135000000.0,-74000000.0,3000000.0
Interest Expense Non Operating,930000000.0,1003000000.0,827000000.0,719000000.0
Interest Income Non Operating,918000000.0,868000000.0,753000000.0,722000000.0
Operating Income,28318000000.0,36016000000.0,24894000000.0,23076000000.0
Operating Expense,13658000000.0,14316000000.0,13201000000.0,12809000000.0
Research And Development,7457000000.0,7709000000.0,6761000000.0,6797000000.0
Selling General And Administration,6201000000.0,6607000000.0,6440000000.0,6012000000.0
Gross Profit,41976000000.0,50332000000.0,38095000000.0,35885000000.0
Cost Of Revenue,52860000000.0,66822000000.0,52051000000.0,47074000000.0
Total Revenue,94836000000.0,117154000000.0,90146000000.0,82959000000.0
Operating Revenue,94836000000.0,117154000000.0,90146000000.0,82959000000.0

In [6]:
# Put income statements into a dataframe and transpose 
income_stmt_df = pd.DataFrame(income_stmt).T
income_stmt_df

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,Interest Expense,Interest Income,...,Interest Expense Non Operating,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
2023-03-31,0.0,0.148756,31216000000.0,24160000000.0,2898000000.0,52860000000.0,28318000000.0,-12000000.0,930000000.0,918000000.0,...,930000000.0,918000000.0,28318000000.0,13658000000.0,7457000000.0,6201000000.0,41976000000.0,52860000000.0,94836000000.0,94836000000.0
2022-12-31,0.0,0.157904,38932000000.0,29998000000.0,2916000000.0,66822000000.0,36016000000.0,-135000000.0,1003000000.0,868000000.0,...,1003000000.0,868000000.0,36016000000.0,14316000000.0,7709000000.0,6607000000.0,50332000000.0,66822000000.0,117154000000.0,117154000000.0
2022-09-30,0.0,0.15963,27759000000.0,20721000000.0,2865000000.0,52051000000.0,24894000000.0,-74000000.0,827000000.0,753000000.0,...,827000000.0,753000000.0,24894000000.0,13201000000.0,6761000000.0,6440000000.0,38095000000.0,52051000000.0,90146000000.0,90146000000.0
2022-06-30,0.0,0.157114,25881000000.0,19442000000.0,2805000000.0,47074000000.0,23076000000.0,3000000.0,719000000.0,722000000.0,...,719000000.0,722000000.0,23076000000.0,12809000000.0,6797000000.0,6012000000.0,35885000000.0,47074000000.0,82959000000.0,82959000000.0

In [7]:
# Find EPS
eps_df = income_stmt_df['Basic EPS']
eps_df

2023-03-31    1.53
2022-12-31    1.89
2022-09-30    1.29
2022-06-30     1.2
Name: Basic EPS, dtype: object

In [8]:
# Find Revenue
revenue_df = income_stmt_df['Total Revenue']
revenue_df

2023-03-31     94836000000.0
2022-12-31    117154000000.0
2022-09-30     90146000000.0
2022-06-30     82959000000.0
Name: Total Revenue, dtype: object

In [35]:
ticker.quarterly_balance_sheet

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Ordinary Shares Number,15723406000.0,15842407000.0,15943425000.0,16095378000.0
Share Issued,15723406000.0,15842407000.0,15943425000.0,16095378000.0
Net Debt,84928000000.0,90575000000.0,96423000000.0,92189000000.0
Total Debt,109615000000.0,111110000000.0,120069000000.0,119691000000.0
Tangible Book Value,62158000000.0,56727000000.0,50672000000.0,58107000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,55872000000.0,51355000000.0,48304000000.0,48231000000.0
Other Short Term Investments,31185000000.0,30820000000.0,24658000000.0,20729000000.0
Cash And Cash Equivalents,24687000000.0,20535000000.0,23646000000.0,27502000000.0
Cash Equivalents,4637000000.0,2627000000.0,5100000000.0,14650000000.0
Cash Financial,20050000000.0,17908000000.0,18546000000.0,12852000000.0

In [36]:
ticker.quarterly_cashflow

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Free Cash Flow,25644000000.0,30218000000.0,20838000000.0,20790000000.0
Repurchase Of Capital Stock,-19594000000.0,-19475000000.0,-24428000000.0,-21865000000.0
Repayment Of Debt,5964000000.0,-9615000000.0,-2793000000.0,-3000000000.0
Issuance Of Debt,NaN,NaN,4450000000.0,3971000000.0
Capital Expenditure,-2916000000.0,-3787000000.0,-3289000000.0,-2102000000.0
Interest Paid Supplemental Data,1170000000.0,703000000.0,955000000.0,504000000.0
Income Tax Paid Supplemental Data,4066000000.0,828000000.0,7322000000.0,2950000000.0
End Cash Position,27129000000.0,21974000000.0,24977000000.0,28861000000.0
Beginning Cash Position,21974000000.0,24977000000.0,28861000000.0,29180000000.0
Changes In Cash,5155000000.0,-3003000000.0,-3884000000.0,-319000000.0
Financing Cash Flow,-25724000000.0,-35563000000.0,-26794000000.0,-27445000000.0
Cash Flow From Continuing Financing Activities,-25724000000.0,-35563000000.0,-26794000000.0,-27445000000.0
Net Other Financing Charges,-484000000.0,-2705000000.0,-320000000.0,-2740000000.0
Cash Dividends Paid,-3650000000.0,-3768000000.0,-3703000000.0,-3811000000.0
Common Stock Dividend Paid,-3650000000.0,-3768000000.0,-3703000000.0,-3811000000.0
Net Common Stock Issuance,-19594000000.0,-19475000000.0,-24428000000.0,-21865000000.0
Common Stock Payments,-19594000000.0,-19475000000.0,-24428000000.0,-21865000000.0
Net Issuance Payments Of Debt,-1996000000.0,-9615000000.0,1657000000.0,971000000.0
Net Short Term Debt Issuance,254000000.0,-8214000000.0,-1015000000.0,3971000000.0
Short Term Debt Payments,NaN,-8214000000.0,NaN,NaN
Short Term Debt Issuance,NaN,NaN,-1015000000.0,3971000000.0
Net Long Term Debt Issuance,-2250000000.0,-1401000000.0,2672000000.0,-3000000000.0
Long Term Debt Payments,-2250000000.0,-1401000000.0,-2793000000.0,-3000000000.0
Long Term Debt Issuance,NaN,NaN,5465000000.0,0.0
Investing Cash Flow,2319000000.0,-1445000000.0,-1217000000.0,4234000000.0
Cash Flow From Continuing Investing Activities,2319000000.0,-1445000000.0,-1217000000.0,4234000000.0
Net Other Investing Changes,-106000000.0,-141000000.0,-597000000.0,-615000000.0
Net Investment Purchase And Sale,5341000000.0,2483000000.0,2806000000.0,6953000000.0
Sale Of Investment,11385000000.0,7636000000.0,9551000000.0,15144000000.0
Purchase Of Investment,-6044000000.0,-5153000000.0,-6745000000.0,-8191000000.0
Net Business Purchase And Sale,NaN,NaN,-137000000.0,-2000000.0
Purchase Of Business,NaN,NaN,-137000000.0,-2000000.0
Net PPE Purchase And Sale,-2916000000.0,-3787000000.0,-3289000000.0,-2102000000.0
Purchase Of PPE,-2916000000.0,-3787000000.0,-3289000000.0,-2102000000.0
Operating Cash Flow,28560000000.0,34005000000.0,24127000000.0,22892000000.0
Cash Flow From Continuing Operating Activities,28560000000.0,34005000000.0,24127000000.0,22892000000.0
Change In Working Capital,231000000.0,-1497000000.0,-48000000.0,-3225000000.0
Change In Other Working Capital,NaN,131000000.0,218000000.0,-367000000.0
Change In Other Current Liabilities,-2001000000.0,3758000000.0,5646000000.0,-1902000000.0
Change In Other Current Assets,7000000.0,-4099000000.0,-3210000000.0,253000000.0
Change In Payables And Accrued Expense,-14689000000.0,-6075000000.0,15556000000.0,-4358000000.0
Change In Payable,-14689000000.0,-6075000000.0,15556000000.0,-4358000000.0
Change In Account Payable,-14689000000.0,-6075000000.0,15556000000.0,-4358000000.0
Change In Inventory,-741000000.0,-1807000000.0,435000000.0,-16000000.0
Change In Receivables,17786000000.0,6595000000.0,-18693000000.0,3165000000.0
Changes In Account Receivables,5321000000.0,4275000000.0,-6384000000.0,-981000000.0
Other Non Cash Items,-1415000000.0,-317000000.0,172000000.0,-41000000.0
Stock Based Compensation,2686000000.0,2905000000.0,2278000000.0,2243000000.0
Deferred Tax,NaN,NaN,-1861000000.0,1668000000.0
Deferred Income Tax,NaN,NaN,-1861000000.0,1668000000.0
Depreciation Amortization Depletion,2898000000.0,2916000000.0,2865000000.0,2805000000.0
Depreciation And Amortization,2898000000.0,2916000000.0,2865000000.0,2805000000.0
Net Income From Continuing Operations,24160000000.0,29998000000.0,20721000000.0,19442000000.0

In [37]:
ticker.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  61.23%       % of Shares Held by Institutions
2  61.27%        % of Float Held by Institutions
3    5743  Number of Institutions Holding Shares

In [38]:
ticker.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1309785362,2023-03-30,0.0833,254059068265
1,Blackrock Inc.,1035008939,2023-03-30,0.0658,200760685161
2,"Berkshire Hathaway, Inc",915560382,2023-03-30,0.0582,177591248414
3,State Street Corporation,576281774,2023-03-30,0.0366,111781376406
4,"FMR, LLC",311437576,2023-03-30,0.0198,60409546996
5,"Geode Capital Management, LLC",285171112,2023-03-30,0.0181,55314640942
6,Price (T.Rowe) Associates Inc,234017381,2023-03-30,0.0149,45392351678
7,Morgan Stanley,200615893,2023-03-30,0.0128,38913465010
8,Northern Trust Corporation,173130542,2023-03-30,0.0110,33582131443
9,Norges Bank Investment Management,167374278,2022-12-30,0.0106,32465588907

In [39]:
ticker.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,459387185,2022-12-30,0.0290,89107332835
1,Vanguard 500 Index Fund,345686331,2022-12-30,0.0218,67052778046
2,Fidelity 500 Index Fund,163930044,2023-02-27,0.0104,31797510834
3,SPDR S&P 500 ETF Trust,161020780,2023-03-30,0.0102,31233200893
4,iShares Core S&P 500 ETF,133463881,2023-02-27,0.0084,25887989160
5,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",128975730,2023-03-30,0.0082,25017422505
6,Vanguard Growth Index Fund,127560098,2022-12-30,0.0081,24742832364
7,Vanguard Institutional Index Fund-Institutiona...,104788341,2022-12-30,0.0066,20325794631
8,Vanguard Information Technology Index Fund,68684835,2022-11-29,0.0043,13322797528
9,Select Sector SPDR Fund-Technology,61788810,2023-02-27,0.0039,11985175551