In [1]:
import analyst_rating

Date
2023-03-31    25,644,000,000
2022-12-31    30,218,000,000
2022-09-30    20,838,000,000
2022-06-30    20,790,000,000
2022-03-31    25,652,000,000
2021-12-31    44,163,000,000
2021-09-30    16,977,000,000
2021-06-30    19,001,000,000
2021-03-31    21,712,000,000
2020-12-31    35,263,000,000
2020-09-30    18,792,000,000
2020-06-30    14,706,000,000
2020-03-31    11,458,000,000
2019-12-31    28,409,000,000
2019-09-30    17,133,000,000
2019-06-30     9,636,000,000
2019-03-31     8,792,000,000
2018-12-31    23,335,000,000
2018-09-30    16,482,000,000
2018-06-30    11,221,000,000
2018-03-31    11,089,000,000
2017-12-31    25,329,000,000
2017-09-30    11,656,000,000
2017-06-30     6,003,000,000
2017-03-31     9,508,000,000
2016-12-31    23,636,000,000
2016-09-30    12,088,000,000
2016-06-30     7,729,000,000
2016-03-31     9,002,000,000
2015-12-31    23,457,000,000
2015-09-30     9,817,000,000
2015-06-30    12,899,000,000
2015-03-31    16,605,000,000
2014-12-31    30,457,000,000
2014-09-30     9,398,000,000
2014-06-30     7,824,000,000
2014-03-31    12,052,000,000
2013-12-31    20,626,000,000
2013-09-30     7,602,000,000
2013-06-30     5,812,000,000
2013-03-31    10,205,000,000
2012-12-31    20,971,000,000
2012-09-30     5,635,000,000
2012-06-30     7,226,000,000
2012-03-31    12,468,000,000
2011-12-31    16,125,000,000
2011-09-30     5,858,000,000
2011-06-30    10,146,000,000
2011-03-31     5,563,000,000
2010-12-31     8,510,000,000
2010-09-30     4,870,000,000
2010-06-30     4,175,000,000
2010-03-31     2,029,000,000
2009-12-31     5,400,000,000
2009-09-30     2,638,000,000
2009-06-30     1,998,000,000
2009-03-31       725,000,000
2008-12-31     3,585,000,000
2008-09-30     3,873,000,000
2008-06-30       991,000,000
2008-03-31       978,000,000
2007-12-31     2,555,000,000
2007-09-30     1,462,000,000
2007-06-30       938,000,000
2007-03-31       528,000,000
2006-12-31     1,556,000,000
2006-09-30       910,000,000
2006-06-30       770,000,000
2006-03-31      -318,000,000
2005-12-31       201,000,000
2005-09-30       656,000,000
2005-06-30       409,000,000
2005-03-31       493,000,000
2004-12-31       717,000,000
2004-09-30       384,000,000
2004-06-30       173,000,000
2004-03-31        26,000,000
2003-12-31       175,000,000
2003-09-30        15,000,000
2003-06-30       -38,000,000
2003-03-31        58,000,000
2002-12-31        90,000,000
2002-09-30        18,000,000
2002-06-30       -68,000,000
2002-03-31       -41,000,000
2001-12-31         6,000,000
2001-09-30       112,000,000
2001-06-30       -63,000,000
2001-03-31       -61,000,000
2000-12-31       -35,000,000
2000-09-30       127,000,000
2000-06-30       223,000,000
2000-03-31        34,000,000
1999-12-31       335,000,000
1999-09-30       202,000,000
1999-06-30        81,000,000
1999-03-31       250,000,000
1998-12-31       218,000,000
1998-09-30       306,000,000
1998-06-30       138,000,000
1998-03-31       139,000,000
1997-12-31       136,000,000
1997-09-30       187,000,000
1997-06-30      -210,000,000
1997-03-31        84,000,000
1996-12-31        74,000,000
1996-09-30       395,000,000
1996-06-30       274,000,000
1996-03-31      -373,000,000
1995-12-31       156,000,000
1995-09-30      -722,000,000
1995-06-30       -85,000,000
1995-03-31       -23,000,000
1994-12-31       431,000,000
1994-09-30       205,826,000
1994-06-30       117,582,000
1994-03-31       -89,867,000
1993-12-31       343,867,000
1993-09-30      -447,500,000
1993-06-30      -360,600,000
1993-03-31      -101,300,000
1992-12-31        34,500,000
1992-09-30       -22,800,000
1992-06-30       178,200,000
1992-03-31       279,300,000
1991-12-31       254,100,000
1991-09-30         3,800,000
1991-06-30      -189,000,000
1991-03-31       -57,100,000
1990-12-31       152,700,000
1990-09-30        29,900,000
1990-06-30       251,000,000
1990-03-31       260,500,000
1989-12-31       198,200,000
Name: FreeCashFlow, dtype: object

Date
2023-03-31    109,615,000,000
2022-12-31    111,110,000,000
2022-09-30    120,069,000,000
2022-06-30    119,691,000,000
2022-03-31    119,981,000,000
2021-12-31    122,798,000,000
2021-09-30    124,719,000,000
2021-06-30    121,791,000,000
2021-03-31    121,645,000,000
2020-12-31    112,043,000,000
2020-09-30    112,436,000,000
2020-06-30    112,723,000,000
2020-03-31    109,507,000,000
2019-12-31    108,292,000,000
2019-09-30    108,047,000,000
2019-06-30    108,418,000,000
2019-03-31    112,630,000,000
2018-12-31    114,730,000,000
2018-09-30    114,483,000,000
2018-06-30    114,600,000,000
2018-03-31    121,840,000,000
2017-12-31    122,400,000,000
2017-09-30    115,680,000,000
2017-06-30    108,339,000,000
2017-03-31     98,522,000,000
2016-12-31     87,549,000,000
2016-09-30     87,032,000,000
2016-06-30     84,935,000,000
2016-03-31     79,872,000,000
2015-12-31     62,963,000,000
2015-09-30     64,462,000,000
2015-06-30     54,418,000,000
2015-03-31     43,871,000,000
2014-12-31     36,403,000,000
2014-09-30     35,295,000,000
2014-06-30     31,040,000,000
2014-03-31     16,962,000,000
2013-12-31     16,961,000,000
2013-09-30     16,960,000,000
2013-06-30     16,958,000,000
2013-03-31                NaN
2012-12-31                NaN
2012-09-30                NaN
2012-06-30                NaN
2012-03-31                NaN
2011-12-31                NaN
2011-09-30                NaN
2011-06-30                NaN
2011-03-31                NaN
2010-12-31                NaN
2010-09-30                NaN
2010-06-30                NaN
2010-03-31                NaN
2009-12-31                NaN
2009-09-30                NaN
2009-06-30                NaN
2009-03-31                NaN
2008-12-31                NaN
2008-09-30                NaN
2008-06-30                NaN
2008-03-31                NaN
2007-12-31                NaN
2007-09-30                NaN
2007-06-30                NaN
2007-03-31                NaN
2006-12-31                NaN
2006-09-30                NaN
2006-06-30                NaN
2006-03-31                NaN
2005-12-31                NaN
2005-09-30                NaN
2005-06-30                NaN
2005-03-31                NaN
2004-12-31                NaN
2004-09-30                NaN
2004-06-30                NaN
2004-03-31                NaN
2003-12-31        302,000,000
2003-09-30        304,000,000
2003-06-30        307,000,000
2003-03-31        310,000,000
2002-12-31        320,000,000
2002-09-30        316,000,000
2002-06-30        316,000,000
2002-03-31        311,000,000
2001-12-31        315,000,000
2001-09-30        317,000,000
2001-06-30        317,000,000
2001-03-31        317,000,000
2000-12-31        311,000,000
2000-09-30        300,000,000
2000-06-30        300,000,000
2000-03-31        300,000,000
1999-12-31        300,000,000
1999-09-30        300,000,000
1999-06-30        300,000,000
1999-03-31        955,000,000
1998-12-31        954,000,000
1998-09-30        954,000,000
1998-06-30        953,000,000
1998-03-31        976,000,000
1997-12-31        976,000,000
1997-09-30        976,000,000
1997-06-30      1,078,000,000
1997-03-31      1,085,000,000
1996-12-31      1,130,000,000
1996-09-30      1,135,000,000
1996-06-30      1,136,000,000
1996-03-31        655,000,000
1995-12-31        498,000,000
1995-09-30        764,000,000
1995-06-30        709,000,000
1995-03-31        931,000,000
1994-12-31        513,000,000
1994-09-30        596,672,000
1994-06-30        820,423,000
1994-03-31        795,600,000
1993-12-31        752,257,000
1993-09-30        823,200,000
1993-06-30        308,200,000
1993-03-31         59,900,000
1992-12-31        190,600,000
1992-09-30        184,500,000
1992-06-30        180,200,000
1992-03-31        136,300,000
1991-12-31         45,700,000
1991-09-30        148,600,000
1991-06-30        156,300,000
1991-03-31          6,000,000
1990-12-31         23,000,000
1990-09-30        122,600,000
1990-06-30         24,900,000
1990-03-31         20,000,000
1989-12-31         67,900,000
1989-09-30         56,800,000
1988-09-30        127,900,000
1987-09-30                NaN
1986-09-30                NaN
1985-09-30                NaN
Name: TotalDebt, dtype: object

Date
2023-03-31    15,723,406,000
2022-12-31    15,842,407,000
2022-09-30    15,943,425,000
2022-06-30    16,095,378,000
2022-03-31    16,207,568,000
2021-12-31    16,334,371,000
2021-09-30    16,426,786,000
2021-06-30    16,556,942,000
2021-03-31    16,686,305,000
2020-12-31    16,823,263,000
2020-09-30    16,976,763,000
2020-06-30    17,135,756,000
2020-03-31    17,295,948,000
2019-12-31    17,536,108,000
2019-09-30    17,772,944,000
2019-06-30    18,125,580,000
2019-03-31    18,429,136,000
2018-12-31    18,919,212,000
2018-09-30    19,019,944,000
2018-06-30    19,371,668,000
2018-03-31    19,773,128,000
2017-12-31    20,326,604,000
2017-09-30    20,504,804,000
2017-06-30    20,679,128,000
2017-03-31    20,823,260,000
2016-12-31    21,021,692,000
2016-09-30    21,344,664,000
2016-06-30    21,572,660,000
2016-03-31    21,913,784,000
2015-12-31    22,177,948,000
2015-09-30    22,315,012,000
2015-06-30    22,821,600,000
2015-03-31    23,049,112,000
2014-12-31    23,305,676,000
2014-09-30    23,464,644,000
2014-06-30    23,956,684,000
2014-03-31    24,128,860,000
2013-12-31    24,991,510,600
2013-09-30    25,177,964,000
2013-06-30    25,436,376,000
2013-03-31    26,322,632,000
2012-12-31    26,293,080,184
2012-09-30    26,297,824,000
2012-06-30    26,243,448,000
2012-03-31    26,179,496,000
2011-12-31    26,101,992,000
2011-09-30    26,019,756,000
2011-06-30    25,953,305,812
2011-03-31    25,890,874,212
2010-12-31    25,789,218,616
2010-09-30    25,647,161,400
2010-06-30    25,577,505,716
2010-03-31    25,469,802,708
2009-12-31    25,375,901,096
2009-09-30    25,194,554,000
2009-06-30    25,080,585,880
2009-03-31    24,979,075,352
2008-12-31    24,931,617,872
2008-09-30    24,890,183,444
2008-06-30    24,800,906,368
2008-03-31    24,680,068,084
2007-12-31    24,601,608,276
2007-09-30    24,425,211,216
2007-06-30    24,349,946,740
2007-03-31    24,218,544,644
2006-12-31    24,086,156,948
2006-09-30    23,947,351,904
2006-06-30    23,883,653,612
2006-03-31    23,777,268,396
2005-12-31    23,677,280,872
2005-09-30    23,380,542,192
2005-06-30    23,183,472,956
2005-03-31    23,047,828,944
2004-12-31    22,654,745,232
2004-09-30    21,920,842,552
2004-06-30    21,570,768,016
2004-03-31    20,879,898,816
2003-12-31    20,650,612,976
2003-09-30    20,536,688,704
2003-06-30    20,551,587,336
2003-03-31    20,470,535,008
2002-12-31    20,174,405,048
2002-09-30    20,101,703,384
2002-06-30    20,095,895,960
2002-03-31    19,828,768,904
2001-12-31    19,737,720,072
2001-09-30    19,651,613,016
2001-06-30    19,626,548,984
2001-03-31    19,406,293,872
2000-12-31    19,337,214,848
2000-09-30    18,797,905,784
2000-06-30    18,190,270,952
2000-03-31    18,220,160,000
1999-12-31    18,057,088,000
1999-09-30    18,009,488,000
1999-06-30    17,934,224,000
1999-03-31    15,305,584,000
1998-12-31    15,159,088,000
1998-09-30    15,141,616,000
1998-06-30    14,910,672,000
1998-03-31    14,894,992,000
1997-12-31    14,338,128,000
1997-09-30    14,330,288,000
1997-06-30    14,174,608,000
1997-03-31    14,159,600,000
1996-12-31    13,953,520,000
1996-09-30    13,943,664,000
1996-06-30    13,863,920,000
1996-03-31    13,852,720,000
1995-12-31    13,789,216,000
1995-09-30    13,767,264,000
1995-06-30    13,653,360,000
1995-03-31    13,562,416,000
1994-12-31    13,427,680,000
1994-09-30    13,388,816,000
1994-06-30    13,253,296,000
1994-03-31     3,307,920,000
1993-12-31    13,047,440,000
1993-09-30    13,008,464,000
1993-06-30    12,948,768,000
1993-03-31    13,058,640,000
1992-12-31    13,198,192,000
1992-09-30    13,269,648,000
1992-06-30    13,470,240,000
1992-03-31    13,403,040,000
1991-12-31    13,270,880,000
1991-09-30    13,259,232,000
1991-06-30    13,158,880,000
1991-03-31    13,323,072,000
1990-12-31    12,803,168,000
1990-09-30    12,920,208,000
1990-06-30    13,402,816,000
1990-03-31    13,639,696,000
1989-12-31    14,022,624,000
1989-09-30    14,142,240,000
1988-09-30    13,750,016,000
1987-09-30    14,121,856,000
1986-09-30    14,028,672,000
1985-09-30    13,854,400,000
Name: ShareIssued, dtype: object

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2023-06-30,5.24,5.39,5.43,5.47,5.40,4.87,4.49,4.13,3.97,3.81,4.06,3.85
2023-06-29,5.25,5.40,5.46,5.50,5.41,4.87,4.49,4.14,3.99,3.85,4.11,3.92
2023-06-28,5.17,5.32,5.44,5.47,5.32,4.71,4.32,3.97,3.83,3.71,4.00,3.81
2023-06-27,5.17,5.31,5.44,5.46,5.33,4.74,4.38,4.02,3.90,3.77,4.03,3.84
2023-06-26,5.17,5.31,5.50,5.45,5.27,4.65,4.30,3.96,3.85,3.72,4.01,3.83

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2021-07-13,0.05,0.05,0.05,0.06,0.08,0.26,0.47,0.85,1.16,1.42,1.96,2.04
2021-07-12,0.05,0.05,0.05,0.06,0.08,0.23,0.43,0.81,1.13,1.38,1.93,2.00
2021-07-09,0.06,0.05,0.06,0.05,0.08,0.23,0.41,0.79,1.12,1.37,1.91,1.99
2021-07-08,0.06,0.05,0.06,0.06,0.07,0.19,0.37,0.74,1.06,1.30,1.84,1.91
2021-07-07,0.05,0.05,0.05,0.05,0.08,0.22,0.41,0.79,1.09,1.33,1.87,1.94

In [3]:
analyst_rating.data_set(x)

NameError: name 'x' is not defined